<ion-header>

</ion-header>

<ion-content>

  <div class="background-container">
<ion-card>
  <ion-card-header>
    <img src="../../assets/flag.png"/>
    <ion-card-title>
      Rural Healthcare Management<br>
      <h4>Barangay Health Worker</h4>
    </ion-card-title>
  </ion-card-header>

  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input type="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>
  <br>

  <ion-button color="dark"size= "full" fill="clear">
    Forgot Password
   </ion-button>

<br><br>
  <ion-button shape="round" color="success"size="full" >
   <b>Login</b>
  </ion-button>
</ion-card>
  </div>

</ion-content>
