<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> BHW Survey</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Maternal Survey Form</ion-card-title>
    </ion-card-header>


  </ion-card>
  <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="First_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input type="Middle_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="Last_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="age"></ion-input>
     </ion-item>
    </ion-list>
    <br>
    <ion-item>
      <ion-label>Has Pre-Natal Checkup?</ion-label>
      <ion-select>
        <ion-select-option value="yes">Yes</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
      </ion-select>
    </ion-item>
<br>
    <ion-item>
      <ion-label>Family Planning Conceptors</ion-label>
      <ion-select>
        <ion-select-option value="Td2">With TD2</ion-select-option>
        <ion-select-option value="TD3">With TD3 or more</ion-select-option>
        <ion-select-option value="CBC">With CBC Result</ion-select-option>
        <ion-select-option value="Diabetes">With Diabetes</ion-select-option>
        <ion-select-option value="Calcium">Taking Calcium Tablet</ion-select-option>
      </ion-select>
    </ion-item>
<br>
   <ion-button expand="block" color="secondary">Save and Create New</ion-button>
   <ion-button expand="block" color="secondary">Save</ion-button>





