<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> BHW Survey</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tubercolosis Survey Form</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="First_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input type="Middle_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="Last_Name"></ion-input>
     </ion-item>
     <br>
     <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Birthday</ion-label>
      <ion-input type="Birthday"></ion-input>
     </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Weight (kg)</ion-label>
      <ion-input type="text"></ion-input>
     </ion-item>
     <br>

     <ion-item>
      <ion-label>Non Communicable Desease</ion-label>
      <ion-select>
        <ion-select-option value="Alcoholic">Alcoholic</ion-select-option>
        <ion-select-option value="Cigerette">Cigerette Smoker</ion-select-option>
        <ion-select-option value="Obesse">Obesse</ion-select-option>
        <ion-select-option value="VIA">VIA</ion-select-option>
        <ion-select-option value="Hypertension">Hypertension</ion-select-option>
        <ion-select-option value="Diabetes">Diabetes</ion-select-option>
    </ion-select>
     </ion-item>
     <br>

     <h1><b>If Senior Citizen</b></h1><br>
     <ion-item>
      <ion-label>Has Pneumonia Vaccine?</ion-label>
      <ion-select>
        <ion-select-option value="Yes">Yes</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
    </ion-select>
     </ion-item>
     <ion-item>
      <ion-label>Has Influenza Vaccine?</ion-label>
      <ion-select>
        <ion-select-option value="Yes">Yes</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
    </ion-select>
     </ion-item>
<ion-card-content>

  
  <ion-button value="save" expand="block" color="secondary">Save </ion-button>
  <ion-button value="savecreatenew"expand="block" color="secondary">Cancel</ion-button>
</ion-card-content>
