<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> BHW Survey</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Child Information Form</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="First_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input type="Middle_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="Last_Name"></ion-input>
     </ion-item>
     <br>
     <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female>Female</ion-select-option>
    </ion-select>
    </ion-item>
<br><br>
<h1><b>Vaccines Checklist</b></h1>
  <br><br>
    <ion-item>
      <ion-label>0 - 5 Months</ion-label>
      <ion-select>
        <ion-select-option value="BCG">BCG</ion-select-option>
        <ion-select-option value="HEPA B">HEPA B</ion-select-option>
        <ion-select-option value="Penta 1">Penta 1</ion-select-option>
        <ion-select-option value="Penta 2">Penta 2</ion-select-option>
        <ion-select-option value="Penta 3">Penta 3</ion-select-option>
        <ion-select-option value="IPV">IPV</ion-select-option>
        <ion-select-option value="PCB 1">PCB 1</ion-select-option>
        <ion-select-option value="PCB 2">PCB 2</ion-select-option>
        <ion-select-option value="PCB 3">PCB 3</ion-select-option>
        <ion-select-option value="BreastFeed">Started with Breast Feeding</ion-select-option>
    </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>6 - 11 Months</ion-label>
      <ion-select>
        <ion-select-option value="NobreastFeed">No Longer Breast Feeding</ion-select-option>
        <ion-select-option value="Measle1">MCV/Measle 1</ion-select-option>
        <ion-select-option value="VitaminA1">Vitamin A (100,000)</ion-select-option>
    </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>12 - 59 Months</ion-label>
      <ion-select>
        <ion-select-option value="Measle 2">Measle 2</ion-select-option>
        <ion-select-option value="BF15">Before 15 months</ion-select-option>
        <ion-select-option value="AF15">After 15 Months</ion-select-option>
        <ion-select-option value="vITAMINa2">Vitamin A (200,000)</ion-select-option>
        <ion-select-option value="Deworming">Deworming Tablet</ion-select-option>
    </ion-select>
    </ion-item>
    </ion-list>

    <br>

</ion-card-content>
<ion-card-content>

   <ion-button value="savecreatenew"expand="block" color="secondary">Save and Create New</ion-button>
   <ion-button value="save" expand="block" color="secondary">Save </ion-button>
</ion-card-content>



