<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> BHW Survey</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Household Survey Form</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label position="floating">House Number</ion-label>
      <ion-input type="House_Number"></ion-input>
     </ion-item>
     <br>
     <ion-item>
      <ion-label>Family Member Count</ion-label>
      <ion-select>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="more">10 or more</ion-select-option>
    </ion-select>
    </ion-item>
     <br>
     <ion-item>
      <ion-label>With Toilet</ion-label>
      <ion-select>
        <ion-select-option value="withtoilet">With Toilet</ion-select-option>
        <ion-select-option value="withouttoilet">Without Toilet</ion-select-option>
    </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Use Iodized Salt?</ion-label>
      <ion-select>
        <ion-select-option value="yes">Yes</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
    </ion-select>
    </ion-item>
     <br>

     <ion-item>
      <ion-label>With Pregnant Family Member</ion-label>
      <ion-select>
        <ion-select-option value="yes">Yes</ion-select-option>
        <ion-select-option value="no">No</ion-select-option>
    </ion-select>
    </ion-item>
<ion-card-content>

  <ion-button value="savecreatenew"expand="block" color="secondary">Save and Create New</ion-button>
  <ion-button value="save" expand="block" color="secondary">Save </ion-button>
</ion-card-content>
