<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> BHW Survey</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Covid Cases Survey</ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <ion-card-content>
    <ion-list>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="First_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Middle Name</ion-label>
      <ion-input type="Middle_Name"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="Last_Name"></ion-input>
     </ion-item>
     <br>
     <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
    </ion-item>

    <br>
    <ion-item>
      <ion-label>Symptomps</ion-label>
      <ion-select>
        <ion-select-option value="Fever">Fever</ion-select-option>
        <ion-select-option value="Cough">Cough</ion-select-option>
        <ion-select-option value="Lost">Loss of Smell and Taste</ion-select-option>
        <ion-select-option value="SoreThroat">Sore Throat</ion-select-option>
        <ion-select-option value="Tiredness">Tiredness</ion-select-option>
        <ion-select-option value="Breath">Difficulty to Breath</ion-select-option>
    </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>In Quarantine?</ion-label>
      <ion-select>
        <ion-select-option value="Yes">Yes</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
    </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Travel History</ion-label>
      <ion-input type="Travel_History"></ion-input>
     </ion-item>
     <ion-item>
      <ion-label position="floating">Last Place Visited</ion-label>
      <ion-input type="Last_Place_Visited"></ion-input>
     </ion-item>



<ion-card-content>

   <ion-button value="savecreatenew"expand="block" color="secondary">Save and Create New</ion-button>
   <ion-button value="save" expand="block" color="secondary">Save </ion-button>
</ion-card-content>



